html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  font: caption;
  background-color: #F4F7F8;
}

div {
    width: 100%;
}

input[type=button]{
  font-size: 1em;
  margin: .1em;
  border: none;
  transition: background-color .2s ease-out;
}
